weather-service/.bundle
weather-service/.env*
weather-service/log/*
weather-service/tmp/*
weather-service/storage/*
weather-service/config/master.key
.ruby-version
!weather-service/.env*.erb
!weather-service/log/.keep
!weather-service/tmp/.keep
!weather-service/tmp/pids/.keep
!weather-service/storage/.keep
!weather-service/tmp/storage/.keep