.DS_Store

weather-service/.bundle
weather-service/.env*
weather-service/log/*
weather-service/tmp/*
weather-service/storage/*
weather-service/config/master.key
.ruby-version
!weather-service/.env*.erb
!weather-service/log/.keep
!weather-service/tmp/.keep
!weather-service/tmp/pids/.keep
!weather-service/storage/.keep
!weather-service/tmp/storage/.keep

weather-app/node_modules
weather-app/.pnp
weather-app/.pnp.js
weather-app/coverage
weather-app/build
weather-app/.DS_Store
weather-app/.env.local
weather-app/.env.development.local
weather-app/.env.test.local
weather-app/.env.production.local
weather-app/npm-debug.log*
weather-app/yarn-debug.log*
weather-app/yarn-error.log*